body {
  margin: 0;
  background-color: #1e1e1e;
  color: #ddd;
  font-family: sans-serif;
}

#topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2c2c2c;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 1100;
}

#search {
  flex-grow: 1;
  max-width: 300px;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
}

#lang-switcher {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #444;
  color: #ddd;
}

#controls {
  position: fixed;
  top: 70px;   /* unter der festen Topbar */
  left: 10px;
  z-index: 1100;  /* höher als Karte, aber unter topbar wenn nötig */
  background: rgba(30, 30, 30, 0.85);
  padding: 10px;
  border-radius: 8px;
  max-width: 220px;
}

#controls label {
  display: block;
  margin-bottom: 5px;
}

#map {
  height: 100vh;
  width: 100vw;
  margin-top: 50px; /* Platz für topbar */
}
